.event-form-container {
    width: 40%;
    margin: auto;
    padding: 05%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: center;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: calc(100% - 12px);
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-group input[type="datetime-local"] {
    width: 100%;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  .calendar-wrapper {
    flex-grow: 1;
    height: 600px; /* Adjust height as needed */
  }
  .popup-message-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  .popup-message {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  